.navbar {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100px;
    width: 100%;
    padding: 30px 30px;
    background: #0a0716;
    color: white;
    box-sizing: border-box;
}

.navbar ul {
    position: relative;
    left: 270px;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

.navbar ul li a {
    color: white;
    outline: none;
    font-weight: bold;
    text-decoration: none;
}

.navbar ul li button {
    background: none;
    border: none;
    color: white;
    height: 35px;
    border-radius: 7px;
}

.navbar ul li button:hover {
    background-color: red;
    border: none;
    color: white;
    height: 30px;
    border-radius: 7px;
    transition: 0.3s;
}

.navbar ul li input {
    background-color: #1A1235;
    color: white;
    text-align: center;
    border: none;
    border-radius: 8px;
    width: 200px;
    height: 30px;
}